# Apex Banking System - Environment Configuration

PORT=5000
DEBUG=True
SECRET_KEY=apex_banking_super_secret_jwt_key_2026
JWT_SECRET=apex_banking_jwt_secret_token_key_2026

# MongoDB Configuration
# 1. For Local MongoDB:
MONGO_URI=mongodb://localhost:27017/apex_banking_db

# 2. For MongoDB Atlas (Free Cloud):
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/apex_banking_db?retryWrites=true&w=majority

DB_NAME=apex_banking_db

# Banking Policy Configuration
CUSTOMER_SESSION_TIMEOUT_MINUTES=5
MANAGER_SESSION_TIMEOUT_HOURS=24
SAVINGS_INTEREST_RATE=0.06
BUSINESS_INTEREST_RATE=0.09
SAVINGS_MINIMUM_BALANCE=100.0
BUSINESS_WITHDRAWAL_FEE=1.50
